# Emergency Networking API - Connection and data fetch

In [4]:
# Import modules
import http.client
import pandas as pd
import json

## Make a connection to the Emergency Networking API and fetch data

This is a simple example of how to connect to the Emergency Networking API and fetch data. The API is a RESTful API that provides access to a database of emergency contacts and resources. The API is free to use and does not require an API key.

In [5]:
# Setup main variables

with open('assets/token.txt', 'r') as file:
    token = file.read()
conn = http.client.HTTPSConnection("staging.emergencynetworking.com")

headers = {
    'Accept': "application/json",
    'Authorization': f"Bearer {token}"
}
print("Requesting data from API")

# API call
conn.request("GET", "/department-api/v/incidents", headers=headers)

res = conn.getresponse()
data = res.read()
data_obj = json.loads(data.decode("utf-8"))

# print dataObject attributes 'total', ''perPage', 'page', 'data'
print("Data received")
print(f"Total records: {data_obj['total']}")
print(f"Records per page: {data_obj['perPage']}")
print(f"Page: {data_obj['currentPage']}")

# transform dataObj['data'] to pandas dataframe
df = pd.DataFrame(data_obj['data'])
df.head(5)

Requesting data from API
Data received
Total records: 22053
Records per page: 25
Page: 1

,id,dispatched_as,station,command_established,location_address_unit,360_evaluation_complete,location_address_unit_type,first_water,primary_search,controlled,...,shift,district,primary_action_taken,additional_actions_taken,narrative,officer_in_charge,units,current_status,created_at,updated_at
0,7c598630-ee34-11ee-9199-ffd8fb9b0f4c,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,34,[34],EMS call with pt transport.,1008,[{'id': '9dbe6ac4-18b8-405a-9561-d8cb7ec95e0f'...,archived,2022-09-16T00:48:42.000000Z,2024-07-30T18:25:28.000000Z
1,7c60a400-ee34-11ee-98ae-f561702ccec3,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,32,[32],EMS call with pt transport.,1008,[{'id': '386be940-dc67-4727-9a84-89401c026fcb'...,archived,2022-09-16T02:41:13.000000Z,2024-07-30T18:25:28.000000Z
2,7c6826c0-ee34-11ee-8510-f52c0e7fd3fa,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,34,[34],Medical transport.,948,[{'id': 'e73bf29c-0d51-4055-b142-27663114742d'...,archived,2022-09-16T02:48:44.000000Z,2024-07-30T18:25:28.000000Z
3,7c6d52e0-ee34-11ee-be6a-e92e937dd693,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,34,[34],EMS call and transport.,958,[{'id': 'd9e606a7-0e05-42e5-b923-d62bc8b73e8b'...,archived,2022-09-16T03:01:30.000000Z,2024-07-30T18:25:28.000000Z
4,7c732bd0-ee34-11ee-8057-d3b462e8d235,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,33,[33],3171 responded to 911 call and provided medica...,1008,[{'id': '679869bd-3b12-485e-ad4e-788df23cab8a'...,archived,2022-09-16T03:51:00.000000Z,2024-07-30T18:25:28.000000Z

## Data Ingest

Now, we can make the http request iteratively to get all the data. We know the total number of records and the number of records per page. We can calculate the number of pages and make the request for each page.

In [6]:
# Make request to get all pages
total_pages = (data_obj['total'] + data_obj['perPage'] - 1) // data_obj['perPage']

# create an empty array to store all data objects
data_objects = []

# loop through all pages
print(f"Total pages: {total_pages}")
for page in range(1, total_pages + 1):
    try:
        conn.request("GET", f"/department-api/v/incidents?page={page}", headers=headers)
        res = conn.getresponse()
        data = res.read()
        data_obj = json.loads(data.decode("utf-8"))
        #print(data_obj['data']) # uncomment to see the data objects
        # take data_obj['data'] array and append it's content (expand array first to get objects) to the data_objects array
        data_objects.extend(data_obj['data'])
        print(f"Page {page} done")
    except Exception as e:
        print(f"Error occurred on page {page}: {str(e)}")

# print the length of the data_objects array
print(f"Data objects length: {len(data_objects)}")

# validate if the length of the data_objects array is equal to the total records
if len(data_objects) == data_obj['total']:
    print("Data objects length is equal to the total records")

# transform data_objects to pandas dataframe
fire_billing_df = pd.DataFrame(data_objects)
fire_billing_df.head(10)
fire_billing_df.tail(10)

Total pages: 883
Page 1 done
Error occurred on page 2: 'data'
Page 3 done
Page 4 done
Error occurred on page 5: 'data'
Page 6 done
Page 7 done
Page 8 done
Page 9 done
Page 10 done
Page 11 done
Error occurred on page 12: 'data'
Page 13 done
Error occurred on page 14: 'data'
Page 15 done
Page 16 done
Page 17 done
Error occurred on page 18: 'data'
Error occurred on page 19: 'data'
Error occurred on page 20: 'data'
Error occurred on page 21: 'data'
Error occurred on page 22: 'data'
Page 23 done
Page 24 done
Page 25 done
Error occurred on page 26: 'data'
Page 27 done
Page 28 done
Page 29 done
Page 30 done
Page 31 done
Page 32 done
Error occurred on page 33: 'data'
Page 34 done
Error occurred on page 35: 'data'
Page 36 done
Error occurred on page 37: 'data'
Error occurred on page 38: 'data'
Page 39 done
Page 40 done
Page 41 done
Page 42 done
Page 43 done
Page 44 done
Page 45 done
Page 46 done
Page 47 done
Error occurred on page 48: 'data'
Error occurred on page 49: 'data'
Error occurred on page 50: 'data'
Page 51 done
Error occurred on page 52: 'data'
Page 53 done
Page 54 done
Error occurred on page 55: 'data'
Page 56 done
Page 57 done
Page 58 done
Error occurred on page 59: 'data'
Page 60 done
Page 61 done
Page 62 done
Page 63 done
Error occurred on page 64: 'data'
Page 65 done
Error occurred on page 66: 'data'
Error occurred on page 67: 'data'
Error occurred on page 68: 'data'
Error occurred on page 69: 'data'
Page 70 done
Page 71 done
Page 72 done
Page 73 done
Error occurred on page 74: 'data'
Page 75 done
Page 76 done
Page 77 done
Page 78 done
Page 79 done
Error occurred on page 80: 'data'
Error occurred on page 81: 'data'
Error occurred on page 82: 'data'
Page 83 done
Page 84 done
Page 85 done
Page 86 done
Page 87 done
Page 88 done
Page 89 done
Page 90 done
Page 91 done
Page 92 done
Page 93 done
Page 94 done
Page 95 done
Error occurred on page 96: 'data'
Page 97 done
Page 98 done
Page 99 done
Page 100 done
Page 101 done
Error occurred on page 102: 'data'
Page 103 done
Page 104 done
Error occurred on page 105: 'data'
Page 106 done
Page 107 done
Page 108 done
Error occurred on page 109: 'data'
Error occurred on page 110: 'data'
Page 111 done
Page 112 done
Error occurred on page 113: 'data'
Error occurred on page 114: 'data'
Page 115 done
Page 116 done
Page 117 done
Page 118 done
Page 119 done
Page 120 done
Page 121 done
Page 122 done
Page 123 done
Page 124 done
Page 125 done
Page 126 done
Error occurred on page 127: 'data'
Page 128 done
Error occurred on page 129: 'data'
Page 130 done
Page 131 done
Error occurred on page 132: 'data'
Page 133 done
Error occurred on page 134: 'data'
Page 135 done
Page 136 done
Page 137 done
Page 138 done
Page 139 done
Error occurred on page 140: 'data'
Page 141 done
Error occurred on page 142: 'data'
Page 143 done
Page 144 done
Page 145 done
Page 146 done
Error occurred on page 147: 'data'
Error occurred on page 148: 'data'
Page 149 done
Page 150 done
Error occurred on page 151: 'data'
Error occurred on page 152: 'data'
Page 153 done
Page 154 done
Page 155 done
Page 156 done
Page 157 done
Page 158 done
Page 159 done
Page 160 done
Page 161 done
Page 162 done
Error occurred on page 163: 'data'
Page 164 done
Error occurred on page 165: 'data'
Page 166 done
Page 167 done
Page 168 done
Error occurred on page 169: 'data'
Page 170 done
Page 171 done
Error occurred on page 172: 'data'
Page 173 done
Page 174 done
Page 175 done
Page 176 done
Error occurred on page 177: 'data'
Error occurred on page 178: 'data'
Error occurred on page 179: 'data'
Error occurred on page 180: 'data'
Page 181 done
Page 182 done
Error occurred on page 183: 'data'
Page 184 done
Error occurred on page 185: 'data'
Page 186 done
Error occurred on page 187: 'data'
Error occurred on page 188: 'data'
Error occurred on page 189: 'data'
Page 190 done
Error occurred on page 191: 'data'
Error occurred on page 192: 'data'
Error occurred on page 193: 'data'
Page 194 done
Page 195 done
Error occurred on page 196: 'data'
Page 197 done
Page 198 done
Page 199 done
Error occurred on page 200: 'data'
Page 201 done
Page 202 done
Page 203 done
Error occurred on page 204: 'data'
Page 205 done
Error occurred on page 206: 'data'
Error occurred on page 207: 'data'
Page 208 done
Page 209 done
Page 210 done
Error occurred on page 211: 'data'
Page 212 done
Page 213 done
Error occurred on page 214: 'data'
Page 215 done
Error occurred on page 216: 'data'
Error occurred on page 217: 'data'
Page 218 done
Page 219 done
Error occurred on page 220: 'data'
Error occurred on page 221: 'data'
Error occurred on page 222: 'data'
Error occurred on page 223: 'data'
Page 224 done
Page 225 done
Error occurred on page 226: 'data'
Page 227 done
Page 228 done
Page 229 done
Page 230 done
Error occurred on page 231: 'data'
Page 232 done
Page 233 done
Page 234 done
Page 235 done
Page 236 done
Error occurred on page 237: 'data'
Page 238 done
Page 239 done
Page 240 done
Page 241 done
Error occurred on page 242: 'data'
Page 243 done
Page 244 done
Page 245 done
Page 246 done
Error occurred on page 247: 'data'
Page 248 done
Page 249 done
Page 250 done
Page 251 done
Page 252 done
Page 253 done
Page 254 done
Error occurred on page 255: 'data'
Page 256 done
Error occurred on page 257: 'data'
Page 258 done
Error occurred on page 259: 'data'
Error occurred on page 260: 'data'
Page 261 done
Error occurred on page 262: 'data'
Page 263 done
Page 264 done
Page 265 done
Error occurred on page 266: 'data'
Page 267 done
Page 268 done
Page 269 done
Error occurred on page 270: 'data'
Page 271 done
Page 272 done
Page 273 done
Error occurred on page 274: 'data'
Page 275 done
Error occurred on page 276: 'data'
Error occurred on page 277: 'data'
Error occurred on page 278: 'data'
Page 279 done
Page 280 done
Page 281 done
Page 282 done
Page 283 done
Page 284 done
Error occurred on page 285: 'data'
Page 286 done
Page 287 done
Page 288 done
Error occurred on page 289: 'data'
Page 290 done
Page 291 done
Page 292 done
Page 293 done
Page 294 done
Page 295 done
Page 296 done
Page 297 done
Error occurred on page 298: 'data'
Error occurred on page 299: 'data'
Error occurred on page 300: 'data'
Error occurred on page 301: 'data'
Error occurred on page 302: 'data'
Error occurred on page 303: 'data'
Error occurred on page 304: 'data'
Error occurred on page 305: 'data'
Page 306 done
Page 307 done
Page 308 done
Page 309 done
Error occurred on page 310: 'data'
Page 311 done
Error occurred on page 312: 'data'
Page 313 done
Error occurred on page 314: 'data'
Error occurred on page 315: 'data'
Error occurred on page 316: 'data'
Page 317 done
Page 318 done
Error occurred on page 319: 'data'
Error occurred on page 320: 'data'
Page 321 done
Error occurred on page 322: 'data'
Page 323 done
Page 324 done
Error occurred on page 325: 'data'
Page 326 done
Page 327 done
Page 328 done
Page 329 done
Page 330 done
Page 331 done
Page 332 done
Error occurred on page 333: 'data'
Error occurred on page 334: 'data'
Error occurred on page 335: 'data'
Page 336 done
Error occurred on page 337: 'data'
Error occurred on page 338: 'data'
Page 339 done
Error occurred on page 340: 'data'
Error occurred on page 341: 'data'
Error occurred on page 342: 'data'
Page 343 done
Page 344 done
Page 345 done
Page 346 done
Page 347 done
Page 348 done
Page 349 done
Error occurred on page 350: 'data'
Page 351 done
Error occurred on page 352: 'data'
Page 353 done
Error occurred on page 354: 'data'
Error occurred on page 355: 'data'
Page 356 done
Page 357 done
Error occurred on page 358: 'data'
Error occurred on page 359: 'data'
Error occurred on page 360: 'data'
Page 361 done
Error occurred on page 362: 'data'
Error occurred on page 363: 'data'
Page 364 done
Page 365 done
Error occurred on page 366: 'data'
Error occurred on page 367: 'data'
Error occurred on page 368: 'data'
Page 369 done
Page 370 done
Page 371 done
Error occurred on page 372: 'data'
Error occurred on page 373: 'data'
Page 374 done
Page 375 done
Page 376 done
Page 377 done
Page 378 done
Page 379 done
Page 380 done
Page 381 done
Page 382 done
Error occurred on page 383: 'data'
Page 384 done
Page 385 done
Page 386 done
Error occurred on page 387: 'data'
Error occurred on page 388: 'data'
Error occurred on page 389: 'data'
Error occurred on page 390: 'data'
Page 391 done
Page 392 done
Page 393 done
Page 394 done
Page 395 done
Page 396 done
Page 397 done
Page 398 done
Page 399 done
Page 400 done
Error occurred on page 401: 'data'
Error occurred on page 402: 'data'
Error occurred on page 403: 'data'
Error occurred on page 404: 'data'
Page 405 done
Error occurred on page 406: 'data'
Error occurred on page 407: 'data'
Page 408 done
Page 409 done
Page 410 done
Page 411 done
Error occurred on page 412: 'data'
Page 413 done
Page 414 done
Page 415 done
Page 416 done
Page 417 done
Error occurred on page 418: 'data'
Error occurred on page 419: 'data'
Page 420 done
Page 421 done
Page 422 done
Error occurred on page 423: 'data'
Error occurred on page 424: 'data'
Page 425 done
Error occurred on page 426: 'data'
Page 427 done
Page 428 done
Page 429 done
Page 430 done
Page 431 done
Page 432 done
Page 433 done
Error occurred on page 434: 'data'
Error occurred on page 435: 'data'
Error occurred on page 436: 'data'
Error occurred on page 437: 'data'
Error occurred on page 438: 'data'
Page 439 done
Error occurred on page 440: 'data'
Error occurred on page 441: 'data'
Error occurred on page 442: 'data'
Page 443 done
Page 444 done
Page 445 done
Page 446 done
Error occurred on page 447: 'data'
Page 448 done
Error occurred on page 449: 'data'
Error occurred on page 450: 'data'
Error occurred on page 451: 'data'
Error occurred on page 452: 'data'
Page 453 done
Error occurred on page 454: 'data'
Page 455 done
Page 456 done
Error occurred on page 457: 'data'
Page 458 done
Page 459 done
Page 460 done
Error occurred on page 461: 'data'
Page 462 done
Error occurred on page 463: 'data'
Page 464 done
Error occurred on page 465: 'data'
Page 466 done
Error occurred on page 467: 'data'
Page 468 done
Page 469 done
Page 470 done
Page 471 done
Page 472 done
Page 473 done
Error occurred on page 474: 'data'
Page 475 done
Error occurred on page 476: 'data'
Error occurred on page 477: 'data'
Page 478 done
Error occurred on page 479: 'data'
Error occurred on page 480: 'data'
Error occurred on page 481: 'data'
Page 482 done
Page 483 done
Page 484 done
Error occurred on page 485: 'data'
Page 486 done
Page 487 done
Page 488 done
Page 489 done
Error occurred on page 490: 'data'
Error occurred on page 491: 'data'
Error occurred on page 492: 'data'
Error occurred on page 493: 'data'
Page 494 done
Error occurred on page 495: 'data'
Page 496 done
Page 497 done
Page 498 done
Page 499 done
Page 500 done
Page 501 done
Error occurred on page 502: 'data'
Error occurred on page 503: 'data'
Page 504 done
Error occurred on page 505: 'data'
Page 506 done
Page 507 done
Page 508 done
Page 509 done
Page 510 done
Page 511 done
Error occurred on page 512: 'data'
Error occurred on page 513: 'data'
Page 514 done
Error occurred on page 515: 'data'
Page 516 done
Error occurred on page 517: 'data'
Page 518 done
Page 519 done
Error occurred on page 520: 'data'
Error occurred on page 521: 'data'
Page 522 done
Page 523 done
Page 524 done
Page 525 done
Page 526 done
Page 527 done
Error occurred on page 528: 'data'
Error occurred on page 529: Remote end closed connection without response
Page 530 done
Page 531 done
Page 532 done
Error occurred on page 533: 'data'
Page 534 done
Page 535 done
Page 536 done
Error occurred on page 537: 'data'
Page 538 done
Page 539 done
Page 540 done
Error occurred on page 541: 'data'
Error occurred on page 542: 'data'
Error occurred on page 543: 'data'
Page 544 done
Error occurred on page 545: 'data'
Page 546 done
Error occurred on page 547: 'data'
Page 548 done
Page 549 done
Error occurred on page 550: 'data'
Page 551 done
Error occurred on page 552: 'data'
Page 553 done
Page 554 done
Page 555 done
Page 556 done
Page 557 done
Error occurred on page 558: 'data'
Error occurred on page 559: 'data'
Error occurred on page 560: 'data'
Page 561 done
Error occurred on page 562: 'data'
Error occurred on page 563: 'data'
Page 564 done
Error occurred on page 565: 'data'
Error occurred on page 566: 'data'
Page 567 done
Page 568 done
Error occurred on page 569: 'data'
Page 570 done
Page 571 done
Error occurred on page 572: 'data'
Error occurred on page 573: 'data'
Page 574 done
Page 575 done
Page 576 done
Page 577 done
Error occurred on page 578: 'data'
Page 579 done
Page 580 done
Error occurred on page 581: 'data'
Error occurred on page 582: 'data'
Error occurred on page 583: 'data'
Page 584 done
Error occurred on page 585: 'data'
Page 586 done
Error occurred on page 587: 'data'
Error occurred on page 588: 'data'
Page 589 done
Page 590 done
Error occurred on page 591: 'data'
Page 592 done
Error occurred on page 593: 'data'
Page 594 done
Error occurred on page 595: 'data'
Page 596 done
Page 597 done
Page 598 done
Page 599 done
Page 600 done
Error occurred on page 601: 'data'
Page 602 done
Page 603 done
Error occurred on page 604: 'data'
Page 605 done
Page 606 done
Error occurred on page 607: 'data'
Page 608 done
Error occurred on page 609: 'data'
Page 610 done
Error occurred on page 611: 'data'
Page 612 done
Error occurred on page 613: 'data'
Page 614 done
Error occurred on page 615: 'data'
Page 616 done
Page 617 done
Error occurred on page 618: 'data'
Page 619 done
Page 620 done
Page 621 done
Error occurred on page 622: 'data'
Error occurred on page 623: 'data'
Error occurred on page 624: 'data'
Page 625 done
Page 626 done
Page 627 done
Page 628 done
Page 629 done
Error occurred on page 630: 'data'
Page 631 done
Error occurred on page 632: 'data'
Error occurred on page 633: 'data'
Page 634 done
Page 635 done
Page 636 done
Page 637 done
Page 638 done
Page 639 done
Page 640 done
Error occurred on page 641: 'data'
Page 642 done
Page 643 done
Page 644 done
Page 645 done
Error occurred on page 646: 'data'
Error occurred on page 647: 'data'
Page 648 done
Page 649 done
Error occurred on page 650: 'data'
Page 651 done
Error occurred on page 652: 'data'
Error occurred on page 653: 'data'
Page 654 done
Page 655 done
Page 656 done
Error occurred on page 657: 'data'
Error occurred on page 658: 'data'
Page 659 done
Error occurred on page 660: 'data'
Page 661 done
Error occurred on page 662: 'data'
Page 663 done
Page 664 done
Error occurred on page 665: 'data'
Page 666 done
Page 667 done
Error occurred on page 668: 'data'
Page 669 done
Page 670 done
Error occurred on page 671: 'data'
Page 672 done
Page 673 done
Page 674 done
Page 675 done
Error occurred on page 676: 'data'
Error occurred on page 677: 'data'
Error occurred on page 678: 'data'
Page 679 done
Page 680 done
Page 681 done
Error occurred on page 682: 'data'
Error occurred on page 683: 'data'
Error occurred on page 684: 'data'
Page 685 done
Page 686 done
Page 687 done
Page 688 done
Page 689 done
Error occurred on page 690: 'data'
Error occurred on page 691: 'data'
Page 692 done
Page 693 done
Page 694 done
Page 695 done
Error occurred on page 696: 'data'
Page 697 done
Page 698 done
Page 699 done
Page 700 done
Error occurred on page 701: 'data'
Page 702 done
Page 703 done
Error occurred on page 704: 'data'
Error occurred on page 705: 'data'
Error occurred on page 706: 'data'
Error occurred on page 707: 'data'
Page 708 done
Page 709 done
Page 710 done
Page 711 done
Page 712 done
Page 713 done
Page 714 done
Error occurred on page 715: 'data'
Error occurred on page 716: 'data'
Page 717 done
Page 718 done
Page 719 done
Error occurred on page 720: 'data'
Page 721 done
Page 722 done
Page 723 done
Page 724 done
Page 725 done
Error occurred on page 726: 'data'
Page 727 done
Page 728 done
Page 729 done
Page 730 done
Error occurred on page 731: 'data'
Page 732 done
Error occurred on page 733: 'data'
Page 734 done
Page 735 done
Error occurred on page 736: 'data'
Page 737 done
Page 738 done
Error occurred on page 739: 'data'
Page 740 done
Page 741 done
Page 742 done
Page 743 done
Page 744 done
Page 745 done
Error occurred on page 746: 'data'
Error occurred on page 747: 'data'
Page 748 done
Error occurred on page 749: 'data'
Error occurred on page 750: 'data'
Error occurred on page 751: 'data'
Page 752 done
Page 753 done
Error occurred on page 754: 'data'
Page 755 done
Error occurred on page 756: 'data'
Page 757 done
Page 758 done
Page 759 done
Page 760 done
Page 761 done
Page 762 done
Page 763 done
Page 764 done
Page 765 done
Error occurred on page 766: 'data'
Page 767 done
Page 768 done
Page 769 done
Error occurred on page 770: 'data'
Page 771 done
Page 772 done
Error occurred on page 773: 'data'
Page 774 done
Page 775 done
Page 776 done
Error occurred on page 777: 'data'
Error occurred on page 778: 'data'
Page 779 done
Page 780 done
Page 781 done
Page 782 done
Page 783 done
Page 784 done
Page 785 done
Page 786 done
Page 787 done
Page 788 done
Page 789 done
Page 790 done
Page 791 done
Error occurred on page 792: 'data'
Page 793 done
Error occurred on page 794: 'data'
Page 795 done
Page 796 done
Error occurred on page 797: 'data'
Error occurred on page 798: 'data'
Error occurred on page 799: 'data'
Page 800 done
Page 801 done
Page 802 done
Page 803 done
Page 804 done
Page 805 done
Page 806 done
Page 807 done
Page 808 done
Page 809 done
Page 810 done
Page 811 done
Error occurred on page 812: 'data'
Error occurred on page 813: 'data'
Page 814 done
Page 815 done
Error occurred on page 816: 'data'
Error occurred on page 817: 'data'
Error occurred on page 818: 'data'
Page 819 done
Page 820 done
Page 821 done
Page 822 done
Error occurred on page 823: 'data'
Page 824 done
Error occurred on page 825: 'data'
Error occurred on page 826: 'data'
Page 827 done
Page 828 done
Page 829 done
Page 830 done
Error occurred on page 831: 'data'
Error occurred on page 832: 'data'
Page 833 done
Error occurred on page 834: 'data'
Error occurred on page 835: 'data'
Page 836 done
Page 837 done
Page 838 done
Page 839 done
Error occurred on page 840: 'data'
Page 841 done
Page 842 done
Page 843 done
Error occurred on page 844: 'data'
Page 845 done
Error occurred on page 846: 'data'
Page 847 done
Error occurred on page 848: 'data'
Error occurred on page 849: 'data'
Error occurred on page 850: 'data'
Error occurred on page 851: 'data'
Page 852 done
Error occurred on page 853: 'data'
Page 854 done
Page 855 done
Page 856 done
Page 857 done
Error occurred on page 858: 'data'
Page 859 done
Error occurred on page 860: 'data'
Page 861 done
Page 862 done
Page 863 done
Error occurred on page 864: 'data'
Page 865 done
Page 866 done
Error occurred on page 867: 'data'
Page 868 done
Page 869 done
Page 870 done
Page 871 done
Error occurred on page 872: 'data'
Error occurred on page 873: 'data'
Page 874 done
Error occurred on page 875: 'data'
Error occurred on page 876: 'data'
Error occurred on page 877: 'data'
Error occurred on page 878: 'data'
Page 879 done
Page 880 done
Error occurred on page 881: 'data'
Error occurred on page 882: 'data'
Page 883 done
Data objects length: 14103

,id,dispatched_as,station,command_established,location_address_unit,360_evaluation_complete,location_address_unit_type,first_water,primary_search,controlled,...,shift,district,primary_action_taken,additional_actions_taken,narrative,officer_in_charge,units,current_status,created_at,updated_at
14093,c3a239c0-ee18-11ee-ac96-233d0e477727,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,34,[34],57 YOM weakness,958,[{'id': 'ff336dae-6e65-47b2-a25e-52820bc9a8f5'...,archived,2022-12-31T03:40:53.000000Z,2024-03-29T22:07:42.000000Z
14094,c3a847e0-ee18-11ee-9e13-bff672deb40c,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,34,[34],Transport to SLMC.,1010,[{'id': '5bd025e9-ce0e-4420-86b1-784fa54d9eba'...,archived,2022-12-31T03:56:57.000000Z,2024-03-29T22:07:42.000000Z
14095,c3b2e7a0-ee18-11ee-ab1d-b76bf95057dc,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,93,[93],cancelled by fire com,1014,[{'id': 'c2971355-0373-488f-83e8-43461a1ce81f'...,archived,2022-12-31T05:04:55.000000Z,2024-03-29T22:07:42.000000Z
14096,c3ba32f0-ee18-11ee-8f5c-ddafa3e0462a,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,31,[31],Pt. refusal.,1011,[{'id': '25129689-80ea-4d49-9507-5d412fb7aba0'...,archived,2022-12-31T06:07:56.000000Z,2024-03-29T22:07:42.000000Z
14097,c3c05fd0-ee18-11ee-9ae6-2bd772a43ce8,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,71,[71],"3114 lifted subject from floor to bed, no medi...",1014,[{'id': '96798046-8d80-448e-b8c1-d071af5830eb'...,archived,2022-12-31T06:59:30.000000Z,2024-03-29T22:07:42.000000Z
14098,c3c5e750-ee18-11ee-812e-eb8232f88748,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,34,[34],EMS call,1011,[{'id': 'ae7c666d-d510-48a4-8cd2-716bcd392d9e'...,archived,2022-12-31T08:41:52.000000Z,2024-03-29T22:07:42.000000Z
14099,c3cc7500-ee18-11ee-9e1b-db63f615b24c,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,93,[93],3173 and 3111 canceled en route. 3173 and 3111...,949,[{'id': 'f8760d4b-cf6c-48c8-ac21-4039fd0c6444'...,archived,2022-12-31T08:42:00.000000Z,2024-03-29T22:07:42.000000Z
14100,c2c10150-ee18-11ee-ab89-c71bbd81f514,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,93,[93],Dispatched for a possible full code in the par...,947,[{'id': 'd7e76871-74e3-4562-905a-c503b1eda48b'...,archived,2022-12-23T02:49:28.000000Z,2024-03-29T22:07:40.000000Z
14101,c2c63ca0-ee18-11ee-97b9-491245277e2d,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,71,[71],Assist female that was 1 day post knee replace...,947,[{'id': '837b27c0-b40f-4596-9991-463d470ef153'...,archived,2022-12-23T03:37:28.000000Z,2024-03-29T22:07:40.000000Z
14102,c2cbae20-ee18-11ee-bdd8-9d7b9ea9b4f0,,,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,None,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,1970-01-01T00:00:00.000000Z,...,,,33,[33],"Medical call, with no transport. See PCR.",1010,[{'id': 'bfeb5b1e-e6c2-47fd-a2d7-a189cff7c3d5'...,archived,2022-12-23T10:50:54.000000Z,2024-03-29T22:07:40.000000Z

## Data stats and charts

Here we will show some basic statistics and charts based on the data we have fetched.

In [7]:
# Basic stats and charts

# describe the data
#fire_billing_df.describe()

# aggregate the data by 'incident_type' and count the number of records
#fire_billing_df.groupby(['Incident Type', 'Address', 'Incident Narrative']).agg({'id': 'count'}).rename(columns={'id': 'Total Incidents'}).sort_values('Total Incidents', ascending=False).reset_index()

KeyError: 'Incident Type'

## Data modeling and exporting

In [5]:
# Table transformations and key propagation

In [8]:
#export the fire_billing_df to .csv file
fire_billing_df.to_csv('assets/incidents.csv', index=False)

#export the fire_billing_df to .json file
fire_billing_df.to_json('assets/incidents.json', orient='records')